@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login {
  font-family: "Sen", sans-serif;
}
.login-hero {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  height: 100vh;
  padding: 2rem 0;
  position: relative;
}
.login-hero .logo svg {
  width: 82px;
  height: 36px;
}
.login-hero img {
  max-width: 100%;
}
.login-form {
  box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
  height: 100vh;
}
.login-form .form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.login-form .form-wrapper .title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login-form .form-wrapper .title-wrapper h1 {
  color: #213F7D;
  font-size: 2.5rem;
  font-weight: 700;
}
.login-form .form-wrapper .title-wrapper h2 {
  font-size: 1.25rem;
  font-weight: 400;
}
.login-form .form-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.login-form .form-wrapper form input,
.login-form .form-wrapper form button {
  background: #FFFFFF;
  border: 0px;
  font-family: "Sen", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
}
.login-form .form-wrapper form .btn {
  text-transform: uppercase;
}
.login-form .form-wrapper form .text-btn {
  color: #39CDCC;
}
.login-form .form-wrapper form .form-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login-form .form-wrapper form .input-wrapper {
  border: 2px solid rgba(84, 95, 125, 0.15);
  border-radius: 5px;
  padding: 0.75rem 1rem;
}
.login-form .form-wrapper form .password {
  display: flex;
}
.login-form .form-wrapper form input {
  width: 100%;
}
.login-form .form-wrapper form .form-content > .btn {
  display: flex;
}
.login-form .form-wrapper form > .btn {
  background-color: #39CDCC;
  color: #FFFFFF;
  padding: 0.75rem 1rem;
  border-radius: 8px;
}

.home {
  position: relative;
}
.home .output {
  background: #E5E5E5;
  padding: 2rem 1.5rem;
}

.navbar {
  background-color: #FFFFFF;
  box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.0392156863);
  max-width: 100%;
}
.navbar nav .flex-align-center {
  display: flex;
  align-items: center;
}
.navbar nav .logo-wrapper {
  gap: 1rem;
}
.navbar nav .logo-wrapper .searchbar {
  border: 1px solid rgba(84, 95, 125, 0.15);
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: clamp(1.5vw, 40rem, 400px);
}
.navbar nav .logo-wrapper .searchbar-term {
  width: 100%;
  border-right: none;
  padding: 0.75rem 1rem;
  height: 2.5rem;
}
.navbar nav .logo-wrapper .searchbar-button {
  width: 3rem;
  height: 2.5rem;
  background: #39CDCC;
  text-align: center;
  border-radius: 0 8px 8px 0;
}
.navbar nav .profile-wrapper {
  gap: 3rem;
}
.navbar nav .profile-wrapper .btn {
  border-bottom: 1px solid;
  color: #213F7D;
}
.navbar nav .profile-wrapper .profile {
  gap: 2rem;
}
.navbar nav .profile-wrapper .profile-info {
  gap: 1rem;
}
.navbar nav .profile-wrapper .profile-info img {
  border-radius: 50%;
}
.navbar-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
}
.navbar-mobile .hamburger-wrapper .nav__toggle {
  width: 3em;
  height: 3em;
  border: 0;
  border-radius: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 350ms ease-in-out, left 350ms linear, background 150ms linear;
  z-index: 10;
  padding: 0;
}
.navbar-mobile .hamburger-wrapper .hamburger {
  display: block;
  position: relative;
}
.navbar-mobile .hamburger-wrapper .hamburger,
.navbar-mobile .hamburger-wrapper .hamburger::before,
.navbar-mobile .hamburger-wrapper .hamburger::after {
  width: 1.5em;
  height: 3px;
  background: #213F7D;
  transition: transform 350ms ease-in-out, opacity 200ms linear;
}
.navbar-mobile .hamburger-wrapper .hamburger::before,
.navbar-mobile .hamburger-wrapper .hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}
.navbar-mobile .hamburger-wrapper .hamburger::before {
  bottom: 6px;
}
.navbar-mobile .hamburger-wrapper .hamburger::after {
  top: 6px;
}
.navbar-desktop {
  display: none;
}

/* Navigation open styles */
.nav-open .hamburger {
  transform: rotate(45deg);
}

.nav-open .hamburger::before {
  opacity: 0;
}

.nav-open .hamburger::after {
  transform: rotate(90deg) translate(-6px);
}

.sidebar {
  background-color: #FFFFFF;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.0392156863);
  position: absolute;
  width: 17.688rem;
}
.sidebar-nav {
  padding: 2rem 0;
}
.sidebar-nav .menu-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.sidebar-nav .menu-list .menu-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.75rem 0;
}
.sidebar-nav .menu-list .menu-item p {
  text-transform: capitalize;
}
.sidebar-nav .menu-list-section {
  display: flex;
  flex-direction: column;
}
.sidebar-nav .menu-list-section .menu-item {
  border: 3px solid transparent;
  padding: 0.75rem 1rem;
}
.sidebar-nav .menu-list-section .menu-item:hover {
  background-color: hsla(180deg, 60%, 51%, 0.06);
  border-left: 3px solid #39CDCC;
}
.sidebar-nav .menu-list-section .menu-item:focus {
  background-color: hsla(180deg, 60%, 51%, 0.06);
  border-left: 3px solid #39CDCC;
}
.sidebar-nav .menu-list .btn {
  color: #213F7D;
}
.sidebar-nav .menu-list h3 {
  font-size: 0.75rem;
  padding: 1rem 0;
  text-transform: uppercase;
}
.sidebar-nav .menu-list > * {
  grid-column: 2/-1;
}

.screensaver,
.nav {
  transform: translateX(-150%);
  transition: transform 350ms ease-in-out 100ms;
}

.nav {
  display: none;
  grid-column: 2/-2;
}
.nav .searchbar {
  border: 1px solid rgba(84, 95, 125, 0.15);
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.nav .searchbar-term {
  width: 100%;
  border-right: none;
  padding: 0.75rem 1rem;
  height: 2.5rem;
}
.nav .searchbar-button {
  width: 3rem;
  height: 2.5rem;
  background: #39CDCC;
  text-align: center;
  border-radius: 0 8px 8px 0;
}
.nav .profile-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1.5rem 0;
}
.nav .profile-wrapper .profile-info {
  gap: 0.5rem;
}
.nav .profile-wrapper .profile-info img {
  border-radius: 50%;
}

/* Navigation open styles */
.nav-open .nav {
  display: block;
}

.nav-open .screensaver,
.nav {
  transform: translateX(0);
}

.users h1 {
  color: #213F7D;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 2rem;
}
.users .summarycard-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}
.users .summarycard-wrapper .summarycard {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: #FFFFFF;
  border: 1px solid rgba(33, 63, 125, 0.06);
  border-radius: 4px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  max-width: 15rem;
  padding: 1.5rem 2rem 2rem;
}
.users .summarycard-wrapper .summarycard .title {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}
.users .summarycard-wrapper .summarycard .value {
  font-size: 1.5rem;
  font-weight: 600;
}
.users section {
  position: relative;
}
.users section .data-table {
  margin-top: 2rem;
  overflow-x: scroll;
}
.users section .data-table .table-wrapper {
  background-color: #FFFFFF;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  min-width: 64.813rem;
  padding: 1rem;
}
.users section .data-table .table-wrapper table {
  border-collapse: collapse;
  font-size: 0.875rem;
  table-layout: fixed;
  width: 100%;
}
.users section .data-table .table-wrapper table thead tr th {
  font-weight: 600;
  text-transform: uppercase;
}
.users section .data-table .table-wrapper table thead tr th .table-head {
  display: flex;
  font-size: 0.75rem;
  gap: 1rem;
}
.users section .data-table .table-wrapper table tbody tr {
  border-bottom: 1px solid rgba(33, 63, 125, 0.1);
}
.users section .data-table .table-wrapper table tbody tr:last-of-type {
  border-bottom: none;
}
.users section .data-table .table-wrapper table th,
.users section .data-table .table-wrapper table td {
  padding: 1rem;
  white-space: nowrap;
}
.users section .data-table .table-wrapper table th:first-of-type,
.users section .data-table .table-wrapper table td:first-of-type {
  padding-left: 0;
}
.users section .data-table .table-wrapper table th:last-of-type,
.users section .data-table .table-wrapper table td:last-of-type {
  padding-right: 0;
}
.users section .data-table .table-wrapper table td:last-of-type {
  cursor: pointer;
  padding-left: 0.5rem;
}
.users section .data-table .table-wrapper table td:last-of-type .more-options-wrapper {
  position: relative;
}
.users section .data-table .table-wrapper table td:last-of-type .more-options-wrapper .more-options {
  position: absolute;
  top: -60%;
  left: -700%;
}
.users section .data-table .table-wrapper .filter-form {
  background-color: #FFFFFF;
  border: 1px solid rgba(84, 95, 125, 0.14);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  max-width: 14.875rem;
  padding: 1.5rem 1rem;
  position: absolute;
  top: 4rem;
}
.users section .data-table .table-wrapper .filter-form form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.users section .data-table .table-wrapper .filter-form form input,
.users section .data-table .table-wrapper .filter-form form button {
  background: #FFFFFF;
  border: 0px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
}
.users section .data-table .table-wrapper .filter-form form .select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.users section .data-table .table-wrapper .filter-form form .select-wrapper .input-wrapper {
  border: 1px solid rgba(33, 63, 125, 0.2);
  border-radius: 8px;
  display: flex;
  padding: 0.75rem 1rem;
  position: relative;
}
.users section .data-table .table-wrapper .filter-form form .select-wrapper .input-wrapper input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.users section .data-table .table-wrapper .filter-form form .select-wrapper .input-wrapper .calendar-btn {
  position: absolute;
  top: 0.85rem;
  right: 1.1rem;
  pointer-events: none;
}
.users section .data-table .table-wrapper .filter-form form input {
  width: 100%;
}
.users section .data-table .table-wrapper .filter-form form input::-moz-placeholder {
  text-transform: capitalize;
}
.users section .data-table .table-wrapper .filter-form form input:-ms-input-placeholder {
  text-transform: capitalize;
}
.users section .data-table .table-wrapper .filter-form form .select-wrapper > p,
.users section .data-table .table-wrapper .filter-form form input::placeholder,
.users section .data-table .table-wrapper .filter-form form .btn {
  text-transform: capitalize;
}
.users section .data-table .table-wrapper .filter-form form .btn-wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 0.8rem;
}
.users section .data-table .table-wrapper .filter-form form .btn-wrapper .btn {
  padding: 0.6rem 1.5rem;
}
.users section .data-table .table-wrapper .filter-form form .btn-wrapper button:first-of-type {
  border: 1px solid #545F7D;
  border-radius: 8px;
}
.users section .data-table .table-wrapper .filter-form form .btn-wrapper button:last-of-type {
  background: #39CDCC;
  border: 1px solid #39CDCC;
  border-radius: 8px;
  color: #FFFFFF;
}

.status-pill {
  border-radius: 100px;
  padding: 0.5rem 1.1rem;
  text-align: center;
  text-transform: capitalize;
}

.pending {
  background-color: hsla(46deg, 100%, 46%, 0.1);
  color: #E9B200;
}

.inactive {
  background-color: hsla(224deg, 20%, 41%, 0.06);
  color: #545F7D;
}

.active {
  background-color: hsla(137deg, 60%, 51%, 0.06);
  color: #39CD62;
}

.blacklisted {
  background-color: hsla(345deg, 97%, 45%, 0.1);
  color: #E4033B;
}

@media screen and (min-width: 768px) {
  .login {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    gap: 1rem;
    height: 100vh;
  }
  .login-hero {
    justify-content: center;
  }
  .login-hero .logo {
    position: absolute;
    top: 10%;
  }
  .login-hero .logo svg {
    width: 174px;
    height: 36px;
  }
  .login-form {
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.03);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }
  .login-form .form-wrapper {
    grid-column: 2/-2;
  }
  .home .output {
    height: 88.438rem;
  }
}
@media screen and (min-width: 1024px) {
  .home .navbar {
    padding: 1.5rem;
  }
  .home .navbar-mobile,
.home .navbar .hamburger-wrapper {
    display: none;
  }
  .home .navbar-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .home .output {
    height: 79.813rem;
    margin-left: 17.688rem;
    padding: 4rem 3rem;
  }
  .screensaver {
    transform: translateX(0);
  }
  .login {
    padding: 2rem 2.5rem;
  }
  .login-form .form-wrapper {
    grid-column: 3/-4;
  }
  .users h1 {
    padding-bottom: 4rem;
  }
  .users section .data-table {
    overflow-x: hidden;
  }
  .users section .data-table .table-wrapper {
    padding: 1rem 1.5rem;
  }
  .users section .data-table .table-wrapper .filter-form {
    max-width: 16.875rem;
  }
  .users section .data-table .table-wrapper .filter-form form .btn-wrapper .btn {
    padding: 0.6rem 1.8rem;
  }
}
@media screen and (min-width: 2560px) {
  .login-hero .logo {
    top: 25%;
  }
}
body {
  background-color: #FFFFFF;
  color: #545F7D;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

input,
button {
  background: #FFFFFF;
  border: 0px;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
}

.btn {
  cursor: pointer;
}

.input-wrapper {
  border: 2px solid rgba(84, 95, 125, 0.15);
}

.flex-align-center {
  display: flex;
  align-items: center;
}/*# sourceMappingURL=main.css.map */