@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.cdnfonts.com/css/sf-compact-text");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  -webkit-animation: lds-spinner 1.2s linear infinite;
          animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.login {
  font-family: "Sen", sans-serif;
}
.login-hero {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  height: 100vh;
  padding: 2rem 0;
  position: relative;
}
.login-hero .logo svg {
  width: 82px;
  height: 36px;
}
.login-hero img {
  max-width: 100%;
}
.login-form {
  box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
  height: 100vh;
}
.login-form .form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.login-form .form-wrapper .title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login-form .form-wrapper .title-wrapper h1 {
  color: #213F7D;
  font-size: 2.5rem;
  font-weight: 700;
}
.login-form .form-wrapper .title-wrapper h2 {
  font-size: 1.25rem;
  font-weight: 400;
}
.login-form .form-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.login-form .form-wrapper form input,
.login-form .form-wrapper form button {
  background: #FFFFFF;
  border: 0px;
  font-family: "Sen", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
}
.login-form .form-wrapper form .btn {
  text-transform: uppercase;
}
.login-form .form-wrapper form .text-btn {
  color: #39CDCC;
}
.login-form .form-wrapper form .form-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login-form .form-wrapper form .input-wrapper {
  border: 2px solid rgba(84, 95, 125, 0.15);
  border-radius: 5px;
  padding: 0.75rem 1rem;
}
.login-form .form-wrapper form .password {
  display: flex;
}
.login-form .form-wrapper form input {
  width: 100%;
}
.login-form .form-wrapper form .form-content > .btn {
  display: flex;
}
.login-form .form-wrapper form > .btn {
  background-color: #39CDCC;
  color: #FFFFFF;
  padding: 0.75rem 1rem;
  border-radius: 8px;
}

.home {
  position: relative;
}
.home .output {
  background: #E5E5E5;
  padding: 2rem 1.5rem;
}

.navbar {
  background-color: #FFFFFF;
  box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.0392156863);
  max-width: 100%;
}
.navbar nav .flex-align-center {
  display: flex;
  align-items: center;
}
.navbar nav .logo-wrapper {
  gap: 1rem;
}
.navbar nav .logo-wrapper .searchbar {
  border: 1px solid rgba(84, 95, 125, 0.15);
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: clamp(1.5vw, 40rem, 400px);
}
.navbar nav .logo-wrapper .searchbar-term {
  width: 100%;
  border-right: none;
  padding: 0.75rem 1rem;
  height: 2.5rem;
}
.navbar nav .logo-wrapper .searchbar-button {
  width: 3rem;
  height: 2.5rem;
  background: #39CDCC;
  text-align: center;
  border-radius: 0 8px 8px 0;
}
.navbar nav .profile-wrapper {
  gap: 3rem;
}
.navbar nav .profile-wrapper .btn {
  border-bottom: 1px solid;
  color: #213F7D;
}
.navbar nav .profile-wrapper .profile {
  gap: 2rem;
}
.navbar nav .profile-wrapper .profile-info {
  gap: 1rem;
}
.navbar nav .profile-wrapper .profile-info img {
  border-radius: 50%;
}
.navbar-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
}
.navbar-mobile .hamburger-wrapper .nav__toggle {
  width: 3em;
  height: 3em;
  border: 0;
  border-radius: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 350ms ease-in-out, left 350ms linear, background 150ms linear;
  z-index: 10;
  padding: 0;
}
.navbar-mobile .hamburger-wrapper .hamburger {
  display: block;
  position: relative;
}
.navbar-mobile .hamburger-wrapper .hamburger,
.navbar-mobile .hamburger-wrapper .hamburger::before,
.navbar-mobile .hamburger-wrapper .hamburger::after {
  width: 1.5em;
  height: 3px;
  background: #213F7D;
  transition: transform 350ms ease-in-out, opacity 200ms linear;
}
.navbar-mobile .hamburger-wrapper .hamburger::before,
.navbar-mobile .hamburger-wrapper .hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}
.navbar-mobile .hamburger-wrapper .hamburger::before {
  bottom: 6px;
}
.navbar-mobile .hamburger-wrapper .hamburger::after {
  top: 6px;
}
.navbar-desktop {
  display: none;
}

/* Navigation open styles */
.nav-open .hamburger {
  transform: rotate(45deg);
}

.nav-open .hamburger::before {
  opacity: 0;
}

.nav-open .hamburger::after {
  transform: rotate(90deg) translate(-6px);
}

.sidebar {
  background-color: #FFFFFF;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.0392156863);
  position: absolute;
  width: 17.688rem;
  z-index: 10;
}
.sidebar-nav {
  padding: 2rem 0;
}
.sidebar-nav .menu-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.sidebar-nav .menu-list .grid-span-12 {
  grid-column: span 12;
}
.sidebar-nav .menu-list .menu-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.75rem 0;
}
.sidebar-nav .menu-list .menu-item div {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sidebar-nav .menu-list .menu-item p {
  text-transform: capitalize;
}
.sidebar-nav .menu-list .organization {
  margin-bottom: 2rem;
}
.sidebar-nav .menu-list .dashboard {
  margin-bottom: 1rem;
}
.sidebar-nav .menu-list-section {
  display: flex;
  flex-direction: column;
}
.sidebar-nav .menu-list-section .menu-item {
  border: 3px solid transparent;
  padding: 0.75rem 0;
}
.sidebar-nav .menu-list-section .menu-item:hover {
  background-color: hsla(180deg, 60%, 51%, 0.06);
  border-left: 5px solid #39CDCC;
}
.sidebar-nav .menu-list-section .users {
  background-color: hsla(180deg, 60%, 51%, 0.06);
  border-left: 5px solid #39CDCC;
}
.sidebar-nav .menu-list .btn {
  color: #213F7D;
}
.sidebar-nav .menu-list h3 {
  font-size: 0.75rem;
  padding: 1rem 0;
  margin-left: 1.5rem;
  text-transform: uppercase;
}

.screensaver,
.nav {
  transform: translateX(-150%);
  transition: transform 350ms ease-in-out 100ms;
}

.nav {
  display: none;
  grid-column: 2/-2;
}
.nav .searchbar {
  border: 1px solid rgba(84, 95, 125, 0.15);
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.nav .searchbar-term {
  width: 100%;
  border-right: none;
  padding: 0.75rem 1rem;
  height: 2.5rem;
}
.nav .searchbar-button {
  width: 3rem;
  height: 2.5rem;
  background: #39CDCC;
  text-align: center;
  border-radius: 0 8px 8px 0;
}
.nav .profile-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1.5rem 0;
}
.nav .profile-wrapper .profile-info {
  gap: 0.5rem;
}
.nav .profile-wrapper .profile-info img {
  border-radius: 50%;
}

/* Navigation open styles */
.nav-open .nav {
  display: block;
}

.nav-open .screensaver,
.nav {
  transform: translateX(0);
}

.users {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.users .max-width-82rem {
  grid-column: span 12;
}
.users h1 {
  color: #213F7D;
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
.users .summarycard-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.users .summarycard-wrapper .summarycard {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: #FFFFFF;
  border: 1px solid rgba(33, 63, 125, 0.06);
  border-radius: 4px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  width: 15rem;
  padding: 1.5rem 2rem 2rem;
}
.users .summarycard-wrapper .summarycard .title {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}
.users .summarycard-wrapper .summarycard .value {
  font-size: 1.5rem;
  font-weight: 600;
}
.users .loading {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
.users section {
  position: relative;
}
.users section .data-table {
  margin-top: 3rem;
  overflow-x: scroll;
}
.users section .data-table .table-wrapper {
  background-color: #FFFFFF;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  min-width: 64.813rem;
  padding: 1rem;
}
.users section .data-table .table-wrapper .filter-form {
  background-color: #FFFFFF;
  border: 1px solid rgba(84, 95, 125, 0.14);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  max-width: 14.875rem;
  padding: 1.5rem 1rem;
  position: absolute;
  top: 4rem;
}
.users section .data-table .table-wrapper .filter-form form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.users section .data-table .table-wrapper .filter-form form input,
.users section .data-table .table-wrapper .filter-form form button {
  background: #FFFFFF;
  border: 0px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
}
.users section .data-table .table-wrapper .filter-form form .select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.users section .data-table .table-wrapper .filter-form form .select-wrapper .input-wrapper {
  border: 1px solid rgba(33, 63, 125, 0.2);
  border-radius: 8px;
  display: flex;
  padding: 0.75rem 1rem;
  position: relative;
}
.users section .data-table .table-wrapper .filter-form form .select-wrapper .input-wrapper input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.users section .data-table .table-wrapper .filter-form form .select-wrapper .input-wrapper .calendar-btn {
  position: absolute;
  top: 0.85rem;
  right: 1.1rem;
  pointer-events: none;
}
.users section .data-table .table-wrapper .filter-form form input {
  width: 100%;
}
.users section .data-table .table-wrapper .filter-form form input::-moz-placeholder {
  text-transform: capitalize;
}
.users section .data-table .table-wrapper .filter-form form input:-ms-input-placeholder {
  text-transform: capitalize;
}
.users section .data-table .table-wrapper .filter-form form .select-wrapper > p,
.users section .data-table .table-wrapper .filter-form form input::placeholder,
.users section .data-table .table-wrapper .filter-form form .btn {
  text-transform: capitalize;
}
.users section .data-table .table-wrapper .filter-form form .btn-wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 0.8rem;
}
.users section .data-table .table-wrapper .filter-form form .btn-wrapper .btn {
  padding: 0.6rem 1.5rem;
}
.users section .data-table .table-wrapper .filter-form form .btn-wrapper button:first-of-type {
  border: 1px solid #545F7D;
  border-radius: 8px;
}
.users section .data-table .table-wrapper .filter-form form .btn-wrapper button:last-of-type {
  background: #39CDCC;
  border: 1px solid #39CDCC;
  border-radius: 8px;
  color: #FFFFFF;
}
.users section .data-table .paginate-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.users section .data-table .paginate-wrapper .paginate-summary {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}
.users section .data-table .paginate-wrapper .paginate-summary .input-wrapper {
  background: rgba(33, 63, 125, 0.1);
  border: none;
  border-radius: 4px;
  color: #213F7D;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 500;
  margin: 0 0.5rem;
  padding: 0.5rem 0.75rem;
}
.users section .data-table .paginate-wrapper .paginate {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
  list-style: none;
}
.users section .data-table .paginate-wrapper .paginate li:first-of-type,
.users section .data-table .paginate-wrapper .paginate li:last-of-type {
  background: rgba(33, 63, 125, 0.1);
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
}
.users section .data-table .paginate-wrapper .paginate .active-link {
  font-weight: 700;
}

.table {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 140px 1fr;
  grid-template-rows: auto;
  font-size: 0.875rem;
}
.table .table-body {
  display: grid;
  grid-template-columns: repeat(10, minmax(250px, 400px));
  overflow-x: scroll;
  width: calc(100vw - 100px);
}
.table .table-body .table-row .item-cell {
  border-bottom: 1px solid rgba(33, 63, 125, 0.1);
}
.table .table-body .table-row .item-cell:last-of-type {
  border-bottom: none;
}
.table .table-body .table-row .more-options-wrapper {
  position: relative;
}
.table .table-body .table-row .more-options-wrapper .more-options {
  background: #FFFFFF;
  border: 1px solid rgba(84, 95, 125, 0.04);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.2rem 1.5rem;
  position: absolute;
  top: -280%;
  width: 11.25rem;
  z-index: 10;
}
.table .table-body .table-row .more-options-wrapper .more-options .menu-items-wrapper {
  color: #545F7D;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  text-transform: capitalize;
}
.table .table-row {
  display: grid;
  grid-template-rows: repeat(6, 40px);
  grid-gap: 1rem;
}
.table .table-row-title {
  font-weight: 600;
  text-transform: uppercase;
}
.table .table-row-title .table-head {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  gap: 1rem;
  font-size: 0.75rem;
  white-space: nowrap;
}
.table .item-cell {
  align-items: center;
  display: flex;
  padding: 8px;
}

.status-pill {
  border-radius: 100px;
  padding: 0.5rem 1.1rem;
  text-align: center;
  text-transform: capitalize;
}

.pending {
  background-color: hsla(46deg, 100%, 46%, 0.1);
  color: #E9B200;
}

.inactive {
  background-color: hsla(224deg, 20%, 41%, 0.06);
  color: #545F7D;
}

.active {
  background-color: hsla(137deg, 60%, 51%, 0.06);
  color: #39CD62;
}

.blacklisted {
  background-color: hsla(345deg, 97%, 45%, 0.1);
  color: #E4033B;
}

.user-details-child {
  grid-column: span 12;
  margin-bottom: 2rem;
}
.user-details .btn {
  background-color: inherit;
  color: #545F7D;
}
.user-details .back-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.user-details .header-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.user-details .header-wrapper h1 {
  color: #213F7D;
  font-size: 1.5rem;
  font-weight: 600;
}
.user-details .header-wrapper .action-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.user-details .header-wrapper .action-btn-wrapper .btn {
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
}
.user-details .header-wrapper .action-btn-wrapper .btn:first-of-type {
  border: 1px solid #E4033B;
  color: #E4033B;
}
.user-details .header-wrapper .action-btn-wrapper .btn:last-of-type {
  border: 1px solid #39CDCC;
  color: #39CDCC;
}
.user-details .user-info-dashboard {
  background: #FFFFFF;
  border: 1px solid rgba(33, 63, 125, 0.06);
  border-radius: 4px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  margin-bottom: 1.5rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.user-details .user-info-dashboard .profile-info-wrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}
.user-details .user-info-dashboard .profile-info-wrapper .profile-details-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.user-details .user-info-dashboard .profile-info-wrapper .profile-details-wrapper .profile-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem 0;
}
.user-details .user-info-dashboard .profile-info-wrapper .profile-details-wrapper .profile-details h3 {
  color: #213F7D;
  font-size: 1.375rem;
  font-weight: 600;
  text-transform: capitalize;
}
.user-details .user-info-dashboard .profile-info-wrapper .profile-details-wrapper .profile-details h4 {
  font-size: 0.875rem;
  text-transform: capitalize;
}
.user-details .user-info-dashboard .profile-info-wrapper .profile-details-wrapper .profile-details:nth-child(2) {
  border-top: 1px solid hsla(224deg, 20%, 41%, 0.2);
  border-bottom: 1px solid hsla(224deg, 20%, 41%, 0.2);
}
.user-details .user-info-dashboard .profile-info-wrapper .profile-details-wrapper .profile-details:nth-child(1) p {
  font-size: 0.875rem;
}
.user-details .user-info-dashboard .profile-info-wrapper .profile-details-wrapper .profile-details:nth-child(3) p {
  color: #213F7D;
  font-size: 0.75rem;
}
.user-details .user-info-dashboard .user-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.user-details .user-info-dashboard .user-nav button {
  margin: 0 auto;
  padding: 0.75rem 1rem;
  border: 1px transparent;
}
.user-details .user-info-dashboard .user-nav button:first-of-type {
  border-bottom: 2px solid #39CDCC;
  color: #39CDCC;
}
.user-details .user-info-datatable {
  background: #FFFFFF;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .login {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    gap: 1rem;
    height: 100vh;
  }
  .login-hero {
    justify-content: center;
  }
  .login-hero .logo {
    position: absolute;
    top: 10%;
  }
  .login-hero .logo svg {
    width: 174px;
    height: 36px;
  }
  .login-form {
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.03);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }
  .login-form .form-wrapper {
    grid-column: 2/-2;
  }
  .home .output {
    height: 88.438rem;
  }
  .users section .data-table .paginate-wrapper {
    justify-content: space-between;
  }
  .user-details .header-wrapper {
    align-items: center;
    justify-content: space-between;
  }
  .user-details .user-info-dashboard {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
  .user-details .user-info-dashboard .profile-info-wrapper {
    flex-direction: row;
  }
  .user-details .user-info-dashboard .profile-info-wrapper .profile-details-wrapper {
    flex-direction: row;
  }
  .user-details .user-info-dashboard .profile-info-wrapper .profile-details-wrapper .profile-details {
    padding: 1rem 2rem;
    align-items: flex-start;
  }
  .user-details .user-info-dashboard .profile-info-wrapper .profile-details-wrapper .profile-details:nth-child(1) {
    padding-left: 0;
  }
  .user-details .user-info-dashboard .profile-info-wrapper .profile-details-wrapper .profile-details:nth-child(2) {
    border-top: transparent;
    border-bottom: transparent;
    border-left: 1px solid hsla(224deg, 20%, 41%, 0.2);
    border-right: 1px solid hsla(224deg, 20%, 41%, 0.2);
  }
  .user-details .user-info-dashboard .user-nav button {
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .home .navbar {
    padding: 1.5rem;
  }
  .home .navbar-mobile,
.home .navbar .hamburger-wrapper {
    display: none;
  }
  .home .navbar-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .home .output {
    margin-left: 17.688rem;
    padding: 5rem;
  }
  .screensaver {
    transform: translateX(0);
  }
  .login {
    padding: 2rem 2.5rem;
  }
  .login-form .form-wrapper {
    grid-column: 3/-4;
  }
  .users h1 {
    padding-bottom: 4rem;
  }
  .users section .data-table {
    overflow: visible;
  }
  .users section .data-table .table-wrapper {
    padding: 1rem 1.5rem;
  }
  .users section .data-table .table-wrapper .filter-form {
    max-width: 16.875rem;
  }
  .users section .data-table .table-wrapper .filter-form form .btn-wrapper .btn {
    padding: 0.6rem 1.8rem;
  }
  .users .table {
    grid-template-columns: auto;
    grid-template-rows: 40px auto;
  }
  .users .table .table-body {
    grid-template-columns: auto;
    overflow: visible;
    width: 100%;
  }
  .users .table .table-body .table-row {
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);
    padding: 0.5rem 0;
  }
  .users .table .table-body .table-row .item-cell {
    border-bottom: none;
  }
  .users .table .table-body .table-row .more-options-wrapper .more-options {
    top: -60%;
    left: -250%;
  }
  .users .table .table-body .table-row:last-of-type {
    border-bottom: none;
  }
  .users .table .table-row {
    grid-template-columns: 250px 170px 250px 180px 180px 120px -webkit-max-content;
    grid-template-columns: 250px 170px 250px 180px 180px 120px max-content;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }
  .users .table .table-row-title .table-head {
    flex-direction: row;
    justify-content: normal;
    gap: 1rem;
  }
  .users .table .item-cell:nth-child(1) {
    white-space: nowrap;
  }
}
@media screen and (min-width: 2560px) {
  .login-hero .logo {
    top: 25%;
  }
  .users .max-width-82rem {
    max-width: 82rem;
    grid-column: span 12;
  }
}
body {
  background-color: #FFFFFF;
  color: #545F7D;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

input,
button {
  background: #FFFFFF;
  border: 0px;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
}

.btn {
  cursor: pointer;
}

.input-wrapper {
  border: 2px solid rgba(84, 95, 125, 0.15);
}

.flex-align-center {
  display: flex;
  align-items: center;
}/*# sourceMappingURL=main.css.map */