.navbar {
  background-color: $white-color;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .flex-align-center {
      @include flex-align-center;
    }

    .logo-wrapper {
      gap: 5rem;

      .searchbar {
        border: 1px solid rgba(84, 95, 125, 0.15);
        border-radius: radius(xx-regular);
        display: flex;
        align-items: center;
        width: clamp(1.5vw, 40rem, 400px);

        &-term {
          width: 100%;
          border-right: none;
          padding: 0.75rem 1rem;
          height: 2.5rem;
        }

        &-button {
          width: 3rem;
          height: 2.5rem;
          background: $accent-color;
          text-align: center;
          border-radius: 0 8px 8px 0;
        }
      }
    }

    .profile-wrapper {
      gap: 3rem;

      .btn {
        border-bottom: 1px solid;
        color: $primary-color;
      }

      .profile {
        gap: 2rem;

        &-info {
          gap: 1rem;

          img {
            border-radius: 50%;
          }
        }
      }
    }
  }
}