@include media-md {
  .login {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    gap: 1rem;
    height: 100vh;

    &-hero {
      justify-content: center;

      .logo {
        position: absolute;
        top: 10%;

        svg {
          width: 174px;
          height: 36px;
        }
      }
    }

    &-form {
      box-shadow: 0px 16px 90px rgb(0 0 0 / 3%);
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      align-items: center;

      .form-wrapper {
        grid-column: 2/-2;
      }
    }
  }


  .users {
    section {
      .data-table {
        .paginate-wrapper {
          justify-content: space-between;
        }
      }
    }
  }

  .user-details {
    .header-wrapper {
      align-items: center;
      justify-content: space-between;
    }

    .user-info-dashboard {
      padding: 1.5rem 1.5rem 0 1.5rem;

      .profile-info-wrapper {
        flex-direction: row;

        .profile-details-wrapper {
          flex-direction: row;

          .profile-details {
            padding: 1rem 2rem;
          }

          .profile-details:nth-child(1) {
            padding-left: 0;
          }

          .profile-details:nth-child(2) {
            border-top: transparent;
            border-bottom: transparent;
            border-left: 1px solid hsla(224, 20%, 41%, 0.2);
            border-right: 1px solid hsla(224, 20%, 41%, 0.2);
          }
        }
      }

      .user-nav {
        button {
          margin: 0
        }
      }
    }
  }

}

@include media-lg {

  .home {

    .navbar {
      padding: 1.5rem 4.5rem 1.5rem 1.5rem;

      nav {
        .logo-wrapper {
          gap: 12rem;
        }
      }

      &-mobile,
      .hamburger-wrapper {
        display: none;
      }

      &-desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

    }

    .output {
      margin-left: 17.688rem;
      padding: 5rem;
    }
  }

  .screensaver {
    transform: translateX(0);
  }


  .login {
    padding: 2rem 2.5rem;

    &-form {
      .form-wrapper {
        grid-column: 3/-4;
      }
    }
  }

  .users {

    h1 {
      padding-bottom: 4rem;
    }

    section {
      .data-table {

        overflow: visible;

        .table-wrapper {
          padding: 1rem 1.5rem;

          .filter-form {
            max-width: 16.875rem;
            top: 6rem;

            form {
              .btn-wrapper {
                .btn {
                  padding: 0.6rem 1.8rem;
                }
              }
            }
          }
        }

      }
    }

    .table {
      grid-template-columns: auto;
      grid-template-rows: 40px auto;


      .table-body {
        grid-template-columns: auto;
        overflow: visible;
        width: 100%;

        .table-row {
          border-bottom: 1px solid rgba(33, 63, 125, 0.1);
          padding: 0.5rem 0;

          .item-cell {
            border-bottom: none;
          }

          .more-options-wrapper {
            .more-options {
              top: -60%;
              left: -250%;
            }
          }
        }

        .table-row:last-of-type {
          border-bottom: none;
        }
      }

      .table-row {
        grid-template-columns: 250px 170px 250px 180px 180px 120px max-content;
        grid-template-rows: auto;
        grid-gap: 1rem;

        &-title {
          .table-head {

            flex-direction: row;
            justify-content: normal;
            gap: 1rem;
          }
        }
      }

      .item-cell {

        &:nth-child(1) {
          white-space: nowrap;
        }
      }
    }
  }

  .user-details {
    .user-info-dashboard {
      padding: 2rem 3rem 0 3rem;

      .profile-info-wrapper {
        .profile-details-wrapper {
          .profile-details {
            align-items: flex-start;
          }
        }
      }
    }

    .user-info-datatable {
      padding: 1.5rem 3rem;

      .datatable {
        .table-row {
          .row-content {
            gap: 2rem;
          }
        }
      }
    }

  }
}

@include media-xl {}

@include media-xxl {
  .login {
    &-hero {
      .logo {
        top: 25%;
      }
    }
  }

  .users {
    .max-width-82rem {
      max-width: 82rem;
      grid-column: span 12;
    }
  }
}