@include media-md {
  .login {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    gap: 1rem;
    height: 100vh;

    &-hero {
      justify-content: center;

      .logo {
        position: absolute;
        top: 10%;

        svg {
          width: 174px;
          height: 36px;
        }
      }
    }

    &-form {
      box-shadow: 0px 16px 90px rgb(0 0 0 / 3%);
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      align-items: center;

      .form-wrapper {
        grid-column: 2/-2;
      }
    }
  }

  .home {
    .output {
      height: 88.438rem;
    }
  }
}

@include media-lg {

  .home {

    .navbar {
      padding: 1.5rem;

      &-mobile,
      .hamburger-wrapper {
        display: none;
      }

      &-desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .sidebar {
        // padding: 0 1.5rem;
      }

    }

    .output {
      height: 79.813rem;
      margin-left: 17.688rem;
      padding: 4rem 3rem;
    }
  }

  .screensaver {
    transform: translateX(0);
  }


  .login {
    padding: 2rem 2.5rem;

    &-form {
      .form-wrapper {
        grid-column: 3/-4;
      }
    }
  }

  .users {

    h1 {
      padding-bottom: 4rem;
    }

    .summarycard-wrapper {
      .summarycard {
        // grid-column: span 3;
        // max-width: 15rem;
      }
    }

    .data-table {

      overflow-x: hidden;

    }
  }
}

@include media-xl {}

@include media-xxl {
  .login {
    &-hero {
      .logo {
        top: 25%;
      }
    }
  }
}