.sidebar {
  background-color: $white-color;
  box-shadow: 0px 5px 20px 0px #0000000a;
  position: absolute;
  width: 17.688rem;

  &-nav {
    padding: 2rem 0;


    .menu-list {

      display: grid;
      grid-template-columns: repeat(12, 1fr);

      .menu-item {
        @include flex-align-center;
        gap: 0.5rem;
        cursor: pointer;
        padding: 0.75rem 0;

        p {
          text-transform: capitalize;
        }

      }

      &-section {
        @include flex-column;

        .menu-item {
          border: 3px solid transparent;
          padding: 0.75rem 1rem;
        }

        .menu-item:hover {
          background-color: hsla(180, 60%, 51%, 0.06);
          border-left: 3px solid $accent-color;
        }

        .menu-item:focus {
          background-color: hsla(180, 60%, 51%, 0.06);
          border-left: 3px solid $accent-color;
        }
      }

      .btn {
        color: $primary-color;
      }

      h3 {
        font-size: size(fs-body2);
        padding: 1rem 0;
        text-transform: uppercase;
      }

    }

    .menu-list>* {
      grid-column: 2/-1;
    }
  }
}

.screensaver,
.nav {
  transform: translateX(-150%);
  transition: transform 350ms ease-in-out 100ms;
}

.nav {
  display: none;
  grid-column: 2/-2;

  .searchbar {
    border: 1px solid rgba(84, 95, 125, 0.15);
    border-radius: radius(xx-regular);
    display: flex;
    align-items: center;

    &-term {
      width: 100%;
      border-right: none;
      padding: 0.75rem 1rem;
      height: 2.5rem;
    }

    &-button {
      width: 3rem;
      height: 2.5rem;
      background: $accent-color;
      text-align: center;
      border-radius: 0 8px 8px 0;
    }
  }

  .profile-wrapper {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1.5rem 0;

    .profile-info {
      gap: 0.5rem;

      img {
        border-radius: 50%;
      }

    }
  }
}

/* Navigation open styles */
.nav-open .nav {
  display: block;
}

.nav-open .screensaver,
.nav {
  transform: translateX(0);
}