.user-details {

  &-child {
    grid-column: span 12;
    margin-bottom: 2rem;
  }

  .btn {
    background-color: inherit;
    color: $text-color
  }

  .back-btn-wrapper {
    @include flex-align-center;
    gap: 1rem;
  }

  .header-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    h1 {
      color: $primary-color;
      font-size: size(fs-h2);
      font-weight: weight(bold);
    }

    .action-btn-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;


      .btn {
        border-radius: 8px;
        font-size: size(fs-body1);
        font-weight: weight(bold);
        letter-spacing: 0.1rem;
        padding: 0.75rem 1rem;
        text-transform: uppercase;
      }

      .btn:first-of-type {
        border: 1px solid $danger-color;
        color: $danger-color;
      }

      .btn:last-of-type {
        border: 1px solid $accent-color;
        color: $accent-color;
      }
    }
  }

  .user-info {
    &-dashboard {
      background: $white-color;
      border: 1px solid rgba(33, 63, 125, 0.06);
      border-radius: 4px;
      box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
      margin-bottom: 1.5rem;
      padding: 1.5rem 1.5rem 0 1.5rem;

      .profile-info-wrapper {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.5rem;

        .avatar-wrapper {
          img {
            border-radius: 50%;
          }
        }

        .profile-details-wrapper {
          display: flex;
          flex-direction: column;
          text-align: center;

          .profile-details {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 1.5rem 0;

            h3 {
              color: $primary-color;
              font-size: size(fs-h4);
              font-weight: weight(bold);
              text-transform: capitalize;
            }

            h4 {
              font-size: size(fs-body1);
              text-transform: capitalize;
            }
          }

          .profile-details:nth-child(2) {
            border-top: 1px solid hsla(224, 20%, 41%, 0.2);
            border-bottom: 1px solid hsla(224, 20%, 41%, 0.2);
          }

          .profile-details:nth-child(1) {
            p {
              font-size: size(fs-body1);
            }
          }

          .profile-details:nth-child(3) {
            h3::first-letter {
              text-decoration: line-through;
            }

            p {
              color: $primary-color;
              font-size: size(fs-body2);
            }
          }
        }
      }

      .user-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        button {
          margin: 0 auto;
          padding: 0.75rem 1rem;
          border: 1px transparent;
        }

        button:first-of-type {
          border-bottom: 3px solid $accent-color;
          color: $accent-color;
        }
      }
    }

    &-datatable {
      background: $white-color;
      border: 1px solid rgba(33, 63, 125, 0.06);
      box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      padding: 1.5rem;

      .datatable {
        .table-row {
          border-bottom: 1px solid hsla(220, 58%, 31%, 0.1);
          display: flex;
          flex-direction: column;
          gap: 2rem;
          padding: 1.5rem 0;

          h4 {
            color: $primary-color;
            font-weight: weight(bold);
          }

          .row-content {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(120px, 260px));
            gap: 1.5rem;

            .cell-data {
              display: flex;
              flex-direction: column;
              gap: 0.75rem;

              h5 {
                font-size: size(fs-body2);
                font-weight: weight(regular);
                text-transform: uppercase;
              }

              p {
                font-weight: weight(bold);
                text-transform: capitalize;
              }

              .email {
                text-transform: lowercase;
              }
            }

            .naira-sign {
              p {
                span {
                  display: inline-block;
                }

                span::first-letter {
                  text-decoration: line-through;
                }
              }
            }
          }
        }

        .table-row:last-of-type {
          border-bottom: none;

          h4 {
            visibility: hidden;
          }
        }
      }
    }

  }

}