.users {


  h1 {
    color: $primary-color;
    font-size: size(fs-h2);
    font-weight: weight(medium);
    padding-bottom: 4rem;
  }

  .summarycard-wrapper {
    // @include flex-align-center;
    // justify-content: space-between;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;

    .summarycard {
      @include flex-column;
      gap: 0.75rem;
      background-color: $white-color;
      border: 1px solid rgba(33, 63, 125, 0.06);
      border-radius: 4px;
      box-shadow: 3px 5px 20px rgb(0 0 0 / 4%);
      grid-column: span 3;
      max-width: 15rem;
      padding: 1.5rem 2rem 2rem;

      .title {
        font-size: size(fs-body1);
        font-weight: weight(medium);
        text-transform: uppercase;
      }

      .value {
        font-size: size(fs-h2);
        font-weight: weight(bold);
      }
    }
  }
}