@import 'resets', 'variables', 'config', 'login', 'home', 'navbar', 'sidebar', 'responsiveness';

body {
  background-color: $white-color;
  color: $text-color;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: weight(regular);
  // padding: 1rem 1.5rem;
}

input,
button {
  background: $white-color;
  border: 0px;
  font-family: 'Work Sans', sans-serif;
  font-size: size(fs-p);
  font-weight: weight(regular);
  outline: none;
}

.btn {
  cursor: pointer;
}

.input-wrapper {
  border: 2px solid rgba(84, 95, 125, 0.15);
}